<launch>
	<node pkg="mapf_maddpg_agent" type="critic.py" name="critic" output="screen">
		<param name="number_of_agents" type="int" value="2"/>
	</node>

	<node pkg="mapf_maddpg_agent" type="agent.py" name="agent_0" output="screen"/>
	<node pkg="mapf_maddpg_agent" type="agent.py" name="agent_1" output="screen"/>
</launch>
